html,body{
    width: 100%;
}
.bgc{
    background-color:rgba(0,0,0,0.5);
    color: inherit;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
.top-nav{
    width: 100%;
    position: fixed;
    top: 0;
    background-color: #20262A;
    z-index: 999;
}
 .menu .trainger{
    width: 100%;
    height: 100px;
    /*border: 1px solid gray;*/
    position: absolute;
    bottom: 0;
    left: 0;
}
.menu .trainger .triangle-topleft{
    width: 0;
    height: 0;
    border-top: 100px solid rgba(0,0,0,0);
    border-right: 3000px solid transparent;
}
 .menu .trainger .triangle-topright{
    width: 0;
    height: 0;
    border-bottom: 100px solid #fff;
    border-left: 3000px solid transparent;
    position: absolute;
    top: 0px;
    left: 0px;
}
.menu{
    height:470px;
    background-size: cover;
    background: url("../img/bgc.jpg") no-repeat;
    position: relative;
}
.menu .search{
    position: absolute;
    height: 20px;
    width: 20px;
    top: 0;
    right: 0;
    /*background:url("../img/_r2_c2.png");*/
    text-align: center;
    font-size: 18px;
    color: #fff;
    margin-top: 30px;
    margin-right:30px;
    cursor: pointer;
}
 input{
     padding: 0 15px;
    position: absolute;
    bottom: -22px;
    right: 0;
    height: 42px;
    width: 190px;
    margin-right: 30px;
    display: none;
}
.menu .top .icon{
    height: 80px;
    /*background-color: red;*/
}
.icon a img{
    margin-top: 14px;
    margin-left: 35px;
}
.menu .top{
    height: 80px;
}
.top-replace{
    position: relative;
}
.menu .nav{
    margin-right: 200px;
}
.nav li{
    list-style: none;
}
.nav li:hover{
    background-color: #9E9E9E;
    border-top: 2px solid #fff;
}
.nav a{
    display: block;
    padding: 30px 20px;
    color: #fff;
    font: normal 500 16px / 20px "Roboto", Helvetica, Arial, Verdana, sans-serif;
}
.message{
    margin-top: 80px;
}
.message h2{
    color: #fff;
    text-align: center;
    font: normal 500 38px / 50px "Roboto", Helvetica, Arial, Verdana, sans-serif;

    /*font-weight: bold;*/
}
.message h3{
    text-align: center;
    color: #fff;
    font: normal 500 26px / 50px "Roboto", Helvetica, Arial, Verdana, sans-serif;
}
.service{
    height: 1044px;
    background-color: #fff;
    position: relative;
}
.service .tit{
    text-align: center;
    font-size: 34px;
    line-height: 44px;
    font-weight: bold;
    margin-bottom: 120px;
    color: #242e35;
    padding-top: 60px;

}
.service .tit::after{
    position: absolute;
    content:"";
    top:120px;
    left:50%;
    margin-left: -100px;
    width: 200px;
    height: 0;
    border-bottom: 2px solid #dacfcf;
}
.service .fl{
    width: 50%;

}
.fl h2{
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 30px;
    color: #242e35;
}
.fl-message{
    width: 363px;
    margin-left: 100px;
}
.fl .two-message{
    margin-left: 16px;
}
.fl-message strong{
    line-height: 26px;
    font-size: 15px;
}
.fl-message li{
    line-height: 26px;
    font-size: 15px;
}
.fl-message ul{
    margin: 0 0 10px 20px;
}
.about{
    height: 796px;
    background: url("../img/about.jpg") no-repeat;
    position: relative;
}
.about .trainger{
    width: 100%;
    height: 100px;
    /*border: 1px solid gray;*/
    position: absolute;
    top: 0;
    left: 0;
}
.about .trainger .triangle-topleft{

    width: 0;
    height: 0;
    border-top: 100px solid #fff;
    border-right: 3000px solid transparent;
}
.about .trainger .triangle-topright{
    width: 0;
    height: 0;
    border-bottom: 100px solid rgba(0,0,0,0);
    border-left: 3000px solid #fff;
    position: absolute;
    z-index: 10;
    top: 0px;
    left: 0px;
}
.about .about-bgc{
    background-color: rgba(0,0,0,0.5);
    color: inherit;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
.about-content {
    margin: 160px auto 50px;
    border: 9px double darkgray;
    width: 80%;
    padding: 75px 50px 50px 30px;
    height: 278px;
}
.about-content .fl{
    width: 690px;
    height: 333px;
}
.about-content .fl h2{
    font-size: 34px;
    line-height: 44px;
    color: #fff;
    padding-bottom: 10px;
    position: relative;
}
.about-content .fl h2::after{
    content: "";
    position: absolute;
    width: 200px;
    height: 0;
    bottom: -11px;
    left: 0;
    border: 1px solid #fff;
}
.about-content .fl .one{
    margin-top: 40px;
}
.about-content .fl p{
    margin-top: 20px;
    font-size: 16px;
    color: #ffffff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.about-content .fr{

}
.about-content .fr li{
    width: 304px;
    height: 72px;
    position: relative;
    list-style: none;
}
.about-content .fr li::after{
    position: absolute;
    content: "";
    top: 4px;
    left:-23px;
    width: 13px;
    height: 13px;
    border-radius: 13px;
    background-color: #fff;
}
.about-content .fr li span{
    color: #fff;
    font-size: 15px;
}

/*团队合作*/
.core_team{
    background-color: #fff;
    position: relative;
}
.core_team .trainger{
    width: 100%;
    height: 100px;
    /*border: 1px solid gray;*/
    top: 0;
    position: absolute;

}
.core_team .trainger .triangle-topleft{
    width: 0;
    height: 0;
    border-top: 100px solid rgba(0,0,0,0);
    border-right: 3000px solid transparent;
}
.core_team .trainger .triangle-topright{
    width: 0;
    height: 0;
    border-bottom: 100px solid #fff;
    border-left: 3000px solid transparent;
    position: absolute;
    top: -100px;
    left: 0px;
}
h2{
    width: 100%;
    height: 44px;
    line-height: 78px;
    font-weight: bold;
    margin-bottom: 32px;
    font-size: 34px;
    text-align: center;

}
.team_line{
    border:2px solid #e2e2e2;
    width: 200px;
    margin: 0px auto;
    display: block;
    margin-bottom: 90px;
}

.core_team>ul{
    list-style: none;
    overflow: hidden;
}
.core_team>ul>li{
    float: left;
    margin: 35px -16px;
}
.core_team>ul>li>h3{
    height: 32px;
    line-height: 32px;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 5px;
}
.core_team>ul>li>h4{
    height:28px;
    line-height: 28px;
    font-weight: normal;
    margin-bottom: 25px;
    font-size: 18px;
}
.team_text{
    font-size: 16px;
    line-height: 26px;
    color: gray;
}

@media screen and (max-width: 768px){
    .core_team ul>li{
        width: 100%;
    }
    .team_text{
        width: 100%;
    }
}
@media screen and (min-width: 768px){
    .core_team ul>li{
        width: 29%;
        height: 471px;
    }
    .core_team ul>li:nth-child(5){
        width: 20%;
    }

}
@media screen and (min-width: 992px){
    .core_team ul>li{
        width: 25%;
        height: 449px;
        margin-left: 110px;
    }
    .team_text{
        width: 160px;
    }
}

/*联系我们*/
.contact_us{
    padding: 200px 0px  100px 0px;
    min-height: 200px;
    width: 100%;
    background:url("../img/contact.jpg") no-repeat;
    position: relative;
}
.contact_us .trainger{
    width: 100%;
    height: 100px;
    top: 0;
    left: 0;
    bottom: -1883px;
    position: absolute;

}
.contact_us .trainger .triangle-topleft{
    width: 0;
    height: 0;
    border-top: 100px solid #fff;
    border-right: 3000px solid transparent;
    position: relative;
}
/*.contact_us .trainger .triangle-topleft::after{*/
    /*content: "";*/
    /*width: 0;*/
    /*height: 0;*/
    /*border-top: 100px solid #fff;*/
    /*border-right: 1349px solid transparent;*/
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
/*}*/
.contact_us .trainger .triangle-topright{
    width: 0;
    height: 0;
    border-bottom: 100px solid rgba(0,0,0,0);
    border-left: 3000px solid #fff;
    position: absolute;
    z-index: 10;
    top: 0px;
    left: 0px;
}
.contact_usC{
    position: absolute;
    width: 100%;
    top:0;
    left: 0;
    background-color: rgba(0,0,0,0.65);
}

.contact_content{
    margin: 100px auto 50px;
    border: 9px double darkgray;
    width: 80%;
    padding: 75px 50px 50px 30px;

}

.contact_title{
    color: white;
}

.contact_adress{
    color: white;
    padding-left: 20px;
}
.contact_adress>i{
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color:lightgray;
    margin:0 auto;
}
.contact_adress>p{
    display: block;
    text-align: center;
    height:20px;
    font-size: 14px;
    line-height: 14px;
    margin:20px 0 0 10px;
}
.contact_adress>ul>li{

    line-height:30px;
    font-size: 14px;

}

@media screen and (max-width: 768px){
    .contact_title{
        width: 100%;
    }
    .contact_adress{
        width: 100%;
        margin-top: 30px;
    }
}
@media screen and (min-width: 768px){
    .contact_title{
        float: left;

    }
    .contact_adress{
        width: 46%;
        display: inline-block;
    }
}
@media screen and (min-width: 992px){
    .contact_content{
        display: flex;
    }
    .contact_title{
        width: 33.3%;
    }
    .contact_adress{
        width: 33.3%;
    }
}
.dv{
    cursor: pointer;
}
.footer{
    padding:20px 0;
    height:20px;
    background:url("../img/bgc2.gif") repeat center;
    color: white;
    line-height: 20px;
    font-size: 14px;
    width: 100%;
    padding-left: 80px;
    text-align: left;
}
.fixed{
    width: 50px;
    height: 50px;
    background: url("../img/fixed.png") no-repeat center;
    background-color: rgba(0,0,0,0.2);
    position: fixed;
    bottom: 0;
    right: 0;
    margin-bottom: 5px;
    margin-right: 10px;
    border-radius: 5px  ;
}

